APP_NAME=Project Service
APP_ENV=development
APP_PORT=8001
LOG_LEVEL=INFO
CONVEX_PROJECTS_URL=https://convexpro.in/waterfall/projects?option=null&statusId=null&search=&pageNo=0&pageSize=200&column=&value=
CONVEX_BEARER_TOKEN=
HTTP_TIMEOUT=12
